<h1>Listing wills</h1>

<table>
  <tr>
    <th>User</th>
    <th>Datesigned</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wills.each do |will| %>
  <tr>
    <td><%= will.user_id %></td>
    <td><%= will.datesigned %></td>
    <td><%= link_to 'Show', will %></td>
    <td><%= link_to 'Edit', edit_will_path(will) %></td>
    <td><%= link_to 'Destroy', will, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Will', new_will_path %>
