<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @message.user_id %>
</p>

<p>
  <b>Friend:</b>
  <%= @message.friend_id %>
</p>

<p>
  <b>Messagetext:</b>
  <%= @message.messagetext %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
