<%= form_for(@willclause) do |f| %>
  <% if @willclause.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@willclause.errors.count, "error") %> prohibited this willclause from being saved:</h2>

      <ul>
      <% @willclause.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :will_id %><br />
    <%= f.number_field :will_id %>
  </div>
  <div class="field">
    <%= f.label :friend_id %><br />
    <%= f.number_field :friend_id %>
  </div>
  <div class="field">
    <%= f.label :stuff_id %><br />
    <%= f.number_field :stuff_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
